<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.citymanagement.Dao.CaseInfomMapper">

    <insert id="insertCaseInfom" parameterType="com.example.citymanagement.entity.CaseInfom">
        INSERT INTO caseinformation (caseID, photo, caseType, description, location, locationDescribe,
                                status, createdDate, closedDate, reporter, reporterPhone,
                                needResponse, infoCategory, handlingMethod, isVerified, severity,
                                managerID)
        VALUES (#{caseID}, #{photo}, #{caseType}, #{description}, #{location}, #{locationDescribe},
                #{status}, #{createdDate}, #{closedDate}, #{reporter}, #{reporterPhone},
                #{needResponse}, #{infoCategory}, #{handlingMethod}, #{isVerified}, #{severity},
                #{managerID})
    </insert>

    <select id="getReports" parameterType="map" resultType="com.example.citymanagement.entity.CaseInfom">
        SELECT *
        FROM caseinformation
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getTotalCase" resultType="int">
        select COUNT(*)
        FROM caseinformation
    </select>
</mapper>
