<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.citymanagement.Dao.CaseInfomMapper">

    <insert id="insertCaseInfom" parameterType="com.example.citymanagement.entity.CaseInfom">
        INSERT INTO caseinformation (caseID, photo, caseType, description, location, locationDescribe,
                                status, createdDate, processDate, closedDate, reporter, reporterPhone,
                                needResponse, infoCategory, handlingMethod, isVerified,
                                manageRemark, managerName, reporterID)
        VALUES (#{caseID}, #{photo}, #{caseType}, #{description}, #{location}, #{locationDescribe},
                #{status}, #{createdDate}, #{processDate}, #{closedDate}, #{reporter}, #{reporterPhone},
                #{needResponse}, #{infoCategory}, #{handlingMethod}, #{isVerified},
                #{manageRemark}, #{managerName}, #{reporterID})
    </insert>

    <select id="getReports" parameterType="map" resultType="com.example.citymanagement.entity.CaseInfom">
        SELECT *
        FROM caseinformation
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getTotalCase" resultType="int">
        select COUNT(*)
        FROM caseinformation
    </select>

    <delete id="deleteCaseById" parameterType="int">
        DELETE
        FROM caseinformation
        WHERE CaseID = #{caseId}
    </delete>
    
    <select id="getReportsByReporter" resultType="com.example.citymanagement.entity.CaseInfom">
        SELECT *
        FROM caseinformation
        WHERE reporter = #{reporter}
        ORDER BY createdDate DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    
    <select id="getCaseById" parameterType="int" resultType="com.example.citymanagement.entity.CaseInfom">
        SELECT *
        FROM caseinformation
        WHERE caseID = #{caseId}
    </select>
    
    <update id="updateCaseInfom" parameterType="com.example.citymanagement.entity.CaseInfom">
        UPDATE caseinformation
        SET 
            photo = #{photo},
            caseType = #{caseType},
            description = #{description},
            location = #{location},
            locationDescribe = #{locationDescribe},
            status = #{status},
            processDate = #{processDate},
            closedDate = #{closedDate},
            reporterPhone = #{reporterPhone},
            needResponse = #{needResponse},
            infoCategory = #{infoCategory},
            handlingMethod = #{handlingMethod},
            isVerified = #{isVerified},
            manageRemark = #{manageRemark},
            managerName = #{managerName}
        WHERE caseID = #{caseID}
    </update>
</mapper>
