<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.citymanagement.Dao.UserMapper">
   <insert id="insertUser" parameterType="com.example.citymanagement.entity.User">
        INSERT INTO userinfo (Account, PasswordHash, UserType, Email, PhoneNumber, IsActive)
        VALUES (#{account,jdbcType=VARCHAR}, #{passwordHash,jdbcType=VARCHAR},
                #{userType,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},
                #{isActive,jdbcType=INTEGER})
    </insert>

    <select id="login" parameterType="String" resultType="com.example.citymanagement.entity.User">
        SELECT *
        FROM userinfo
        WHERE Account = #{account} OR PhoneNumber = #{account} OR Email = #{account}
    </select>
    
    <select id="getUserByAccount" parameterType="String" resultType="com.example.citymanagement.entity.User">
        SELECT *
        FROM userinfo
        WHERE Account = #{account}
    </select>

    <update id="updateUser" parameterType="com.example.citymanagement.entity.User">
        UPDATE userinfo
        SET Account = #{account},
            <if test="passwordHash != null">
                PasswordHash = #{passwordHash,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                UserType = #{userType,jdbcType=VARCHAR},
            </if>
            Email = #{email,jdbcType=VARCHAR},
            PhoneNumber = #{phoneNumber,jdbcType=VARCHAR},
            <if test="isActive!= null">
                IsActive = #{isActive,jdbcType=INTEGER}
            </if>
        WHERE Account = #{account,jdbcType=VARCHAR}
    </update>
    
    <update id="updateUserInfo" parameterType="com.example.citymanagement.entity.User">
        UPDATE userinfo
        SET 
            <if test="userType != null">
                UserType = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                Email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                PhoneNumber = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                IsActive = #{isActive,jdbcType=INTEGER}
            </if>
        WHERE Account = #{account,jdbcType=VARCHAR}
    </update>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM userinfo
        WHERE Account = #{account,jdbcType=VARCHAR}
    </delete>
</mapper>
