<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.citymanagement.Dao.UserInfomMapper">
    <select id="getAllManage" resultType="com.example.citymanagement.entity.Manager">
        SELECT *
        FROM citymanageinfom
    </select>
    
    <!-- 通过账户名查找居民ID -->
    <select id="findResidentIdByAccount" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT residentId
        FROM residentinfo
        WHERE account = #{account}
    </select>
    
    <!-- 通过账户名查找居民信息 -->
    <select id="findResidentByAccount" parameterType="java.lang.String" resultType="com.example.citymanagement.entity.Resident">
        SELECT *
        FROM residentinfo
        WHERE account = #{account}
    </select>
</mapper>
